<div class="container">
    <div class="row">
	<div class="col-md-12 col-sm-12">
	    <div class="panel cta">
		<p>If you like this site, you should check out my other projects:</p>
		<ul>
		    <li>Outline your stories with <b><a href="https://nulis.io">Nulis</a></b></li>
		    <li>Develop a daily writing habit with <b><a href="https://helix.startuplab.io">Helix</a></b></li>
		    <li>Publish and sell your fiction with <b><a href="https://fictionhub.io">Fiction Hub</a></b></li>
		</ul>
	    </div>
	</div> <!-- End .col-md-12 -->
    </div> <!-- End .row -->
</div> <!-- End .container -->

