<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel cta">
	<p>If you like this site, you should check out my other projects:</p>
	<ul>
	  <li>
	    Outline your stories with
	    <b><a href="https://nulis.io/?src=screenplays">Nulis</a></b></li>
	  <li>
	    Publish your fiction with
	    <b><a href="https://fictionhub.io/?src=screenplays">Fiction Hub</a></b></li>
	  <li>
	    Develop a daily writing habit with
	    <b><a href="https://writingstreak.io/?src=screenplays">
		Writing Streak
	    </a></b>
	  </li>
	</ul>
	<!-- 
	<a href="https://writingstreak.io/?src=screenplays">
	  <img src="https://writingstreak.io/img/screenshots/Writing-Streak.png"/>
	</a>
	 -->
      </div>
    </div> <!-- End .col-md-12 -->
  </div> <!-- End .row -->
</div> <!-- End .container -->

