<header>
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">
		<a href="/">
		    <div class="logo">S</div>
		</a>
		<form action="/" method="get">
		    <input type="text" name="query"
		    placeholder="Search for screenplays by title, show, or author...">
		    
		</form>    
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
    
</header>
