<header>
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">
		<a href="/">
		    <div class="logo">S</div>
		</a>
		<form action="/" method="get">
		    <input type="text" name="query"
			   placeholder="Find screenplay by Title, Show, or Author...">
		    <button class="search-button" type="submit">
			<i class="fa fa-search"></i>
		    </button>
		</form>
		<div class="main-menu dropdown">
		    <i class="fa fa-bars"></i>

		    <ul class="dropdown-menu" role="menu">
			<li>
			    <a data-toggle="modal" data-target="#help-modal">
				<i class="fa fa-question-circle"></i>Help
			    </a>
			    <a id="toggleDarkInterface">
				<i class="fa fa-adjust"></i> Dark mode
			    </a>
			    <!-- 
			    <a href="/browse/top">
				<i class="fa fa-trophy"></i> Most Read
			    </a>			    
			    <a href="/browse/toptv">
				<i class="fa fa-list"></i>  By genre
			    </a>			    
			    <a href="/browse/toptv">
				<i class="fa fa-television"></i> Top Series
			    </a>
			    <a href="/browse/topmovies">
				<i class="fa fa-film"></i> Top Movies
			    </a>
			    -->			    
			    <a href="https://fictionhub.io/post/writing-resources/">
				<i class="fa fa-book"></i> Screenwriting <br/> Resources
			    </a>

			</li>
		    </ul>			
		</div>
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
    
</header>
