
.screenplay {
    .title-page {
	text-align: center;
    }
    
    h1,h2,h3,h4,p {
	font-family: "Courier";	
    }

    /* Scene heading */
    h2 {
	font-weight: bold;
    }
    
    .dialogue {
	margin-left: auto; margin-right: auto; width: 68%;

	/* Character's name */
	 h4 { margin-bottom: 0; margin-left: 23%; }
	 .parenthetical { margin-bottom: 0; margin-top: 0; margin-left: 11%;}
    }
    .transition {
	text-align: right;
    }
    /* Not sure if needed */
    .dual-dialogue {
	margin: 2em 0 0.9em 2%; width: 95%;
	.dialogue {
	    display: inline-block;
	    margin: 0;
	    width: 45%;
	}	
    }
    .centered { text-align: center; width: 92.5%; }
    .italic { font-style: italic; }
    .bold { font-weight: bold; }
    .underline { text-decoration: underline; }
}
