header {
    background: white;
    padding: 10px 0;

    .logo {
	float:left;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin: 0px 10px 0 0;
	@media  (max-width: 500px) {
	    display:none;
	}

	background: #5e5796;
	text-align: center;
	line-height: 40px;
	color: white;
    }

    form {
	float:left;
	width: calc(100% - 50px - 40px);
	@media  (max-width: 500px) {
	    width: calc(100% - 10px - 40px);
	    margin-left: 10px;
	}

	input {
	    height: 40px;
	    padding: 0 10px;
	    width: 100%;
	    outline:none;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    @media  (max-width: 500px) {
		font-size: 11.5px;
	    }
	}

	position:relative;
	.search-button {
	    position: absolute;
	    right: 0;
	    top: 0;
	    height:40px;
	    width:40px;	    
	    border:none;
	    background: none;
	    opacity: 0.4;
	}
    }

    .main-menu {
	height: 40px;
	float: left;
	cursor: pointer;
	.fa-bars {
	    line-height: 40px;
	    width: 40px;
	    font-size: 22px;
	    text-align: center;
	}
	.dropdown-menu i {
	    margin-right: 5px;
	}
    }
}

.modal-dialog {
    margin-top: 140px;
    .close {
	position: absolute;
	right: 20px;	
    }
}


.subscription-form {
    /* Email input */
    input {
	height: 40px;
	float:left;
	width: calc(100% - 120px);
    }

    /* Subscribe button */
    .btn-default {
	background: $orange;
	color: white;
	height: 40px;
	float:left;
	width: 120px;	    
    }
}

.subscription-box {
    margin-top: 20px;
    .description {
	padding: 19px 5px;
	font-weight: bold;
	@media  (max-width: 768px) {
	    padding: 0px 5px;
	    padding-top: 10px;
	    text-align: center;
	}
    }
    .form {
	padding: 10px 5px;	
    }
    .panel {
	margin-bottom: 0;
    }
    .panel-body {
	padding: 5px 10px;
    }
}

