$text-color: #a2a8ab;

body {
    background: #111111;
}

header {
    background: #1f1f1f;
}

input {
    background: #111111;
    border: none;
}


article,
.post-detail article,
.browse .post-box {
    background: #1f1f1f;

    h1, h2, h3, h4, h5, h6, a, p, li, i, * {
	color: #a2a8ab;
    }
    h1, hr {
	border: none;
	border-bottom: 1px solid #5c5f60;
    }
    .icons a {
	color: #a2a8ab;
    }
    
}


::-webkit-scrollbar-track {
      background-color:#1f1f1f;
}
 
::-webkit-scrollbar-thumb {
    background-color: #111111;
}

