$background: #f6f3ea;
$text: rgba(0, 0, 0, 0.8);
$link: #008cba;
$button: #f66303;
$orange: #f66303;
$blue:#008cba;
$black: rgba(0, 0, 0, 0.8);
$gray: #999;

@import "./general";
@import "./fountain";
@import "./browse";
@import "./post";







